@import "bootstrap";

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  margin: 0;
  padding: 0;
  font-family: "Barlow Condensed";
}
.navbar {
  margin: 0  80px;
  .main-logo {
    margin-left: 100px;
  }
  .header-logo-img {
    margin: 16px 0 16px 0;
    line-height: 19px;
  }
  .navbar-brand {
    position: relative;
    font-size: 26px;
    padding: 0 0 0 35px;
    margin-right: 248px;
    margin-left: 4px;
  }
  .navbar-brand:before {
    background: url("../images/microsoft.png") no-repeat;
    width: 34px;
    height: 34px;
    content: '';
    left: -4px;
    top: 4px;
    position: absolute;
  }
  .navbar-collapse {
    text-transform: uppercase;
    .nav-link {
      color: #2B2B2B;
      font-size: 16px;
      font-weight: 600;
      line-height: 19px;
    }
    .navbar-nav {
      display: flex;
      justify-content: space-between;
      width: 895px;
      margin: 0 auto;
    }
    .search {
      position: relative;
      color: #aaa;
      font-size: 16px;
      input {
        width: 250px;
        height: 32px;
        background: #fcfcfc;
        border: 1px solid #aaa;
        border-radius: 5px;
      }
      input { text-indent: 32px;}
      .fa-search {
        position: absolute;
        top: 10px;
        left: 10px;
      }
      .input-search {
        height: 34px;
        width: 198px;
        border: 1px solid #979797;
        opacity: 1;
        border-radius: 17px;
        color: #9e9e9e !important;
      }
    }
    .sign-in {
      cursor: pointer;
      margin-right: 10px;
      font-weight: 600;
    }
    .fa-cart-arrow-down {
      color: #959595;
    }
  }
}
.slider-nav {
  width: 77px !important;
  .slick-list {
    padding: 0 !important;
  }
  .slick-track {
    display: flex;
    flex-flow: wrap column;
    margin: 0;
  }
  .slick-slide {
    width: 77px !important;
    padding: 3px;
  }
}
.slider-for img {
  height: 419px;
  width: 647px;
}
.on-sale-btn {
  width: 65px;
  height: 23px;
  padding-top: 2px;
  font-size: 12px;
  border: 1px solid #2B2B2B;
  border-radius: 11.5px;
  background-color: transparent;
  color: #2B2B2B; //не видно цвет, который указан в макете
  opacity: 1;
  text-align: center;
  text-transform: uppercase;

}
.on-sale-btn:hover {
  color: #2B2B2B;
}
.main-item-title {
  font-size: 33px;
  font-weight: 500;
  line-height: 36px;
  text-transform: uppercase;
}
.main-item-accessories {
  font-size: 16px;
  line-height: 19px;
}
.price-section {
  justify-content: space-between;
  .price {
    font-family: Roboto;
    line-height: 24px;
    .active-price {
      font-size: 18px;
      margin-right: 15px;
    }
    .not-active-price {
      color: #D0021B;
      font-size: 18px;
      font-weight: 500;
      text-decoration: line-through;
    }
  }
  .rating {
    unicode-bidi: bidi-override;
    direction: rtl;
  }
  .rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
  }
  .rating > span:hover:before,
  .rating > span:hover ~ span:before {
    content: "\2605";
    position: absolute;
    color: #FFBF1C;
  }
}



























@media only screen and (max-width: 1500px) {
  .navbar {
    margin: 0;
    .main-logo {
      margin-left: 0;
    }
  }
}
@media only screen and (max-width: 1350px) {
    .navbar-nav {
      width: 650px !important;
    }
}
/*
!* Everything but the jumbotron gets side spacing for mobile first views *!
.header,
.marketing,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}

!* Custom page header *!
.header {
  padding-bottom: 1rem;
  border-bottom: .05rem solid #e5e5e5;
}

!* Make the masthead heading the same height as the navigation *!
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
}

!* Custom page footer *!
.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
}

!* Customize container *!
@media (min-width: 48em) {
  .container {
    max-width: 46rem;
  }
}
.container-narrow > hr {
  margin: 2rem 0;
}

!* Main marketing message and sign up button *!
.jumbotron {
  text-align: center;
  border-bottom: .05rem solid #e5e5e5;
}
.jumbotron .btn {
  padding: .75rem 1.5rem;
  font-size: 1.5rem;
}

!* Supporting marketing content *!
.marketing {
  margin: 3rem 0;
}
.marketing p + h4 {
  margin-top: 1.5rem;
}

!* Responsive: Portrait tablets and up *!
@media screen and (min-width: 48em) {
  !* Remove the padding we set earlier *!
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  !* Space out the masthead *!
  .header {
    margin-bottom: 2rem;
  }
  !* Remove the bottom border on the jumbotron for visual effect *!
  .jumbotron {
    border-bottom: 0;
  }
}
*/